<div class="container mx-auto" style="width: 200px;">
  <div class="row">
    <h1><strong>お問い合わせ</strong></h1>
  </div>
</div>
<div class="container mx-auto">
  <div class="row mx-auto px-auto">
    <div class="col-10 mx-auto shadow-sm rounded">
      <table class="table">
        <tbody>
          <tr>
            <th>名前</th>
            <td><%= @contact.name %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>メールアドレス</th>
            <td><%= @contact.email %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>タイトル</th>
            <td><%= @contact.title %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>本文</th>
            <td><%= @contact.body %></td>
          </tr>
        </tbody>
      </table>
      <%= form_with model: @contact, url: contacts_path, method: :post ,local:true do |f| %>
      <%= f.hidden_field :name, value: @contact.name %>
      <%= f.hidden_field :email, value: @contact.email %>
      <%= f.hidden_field :title, value: @contact.title %>
      <%= f.hidden_field :body, value: @contact.body %>
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.submit "お問い合わせを送信する", class: "btn btn-lg btn-outline-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <%= form_with model: @contact, url: back_path, method: :post ,local:true do |f| %>
      <%= f.hidden_field :name, value: @contact.name %>
      <%= f.hidden_field :email, value: @contact.email %>
      <%= f.hidden_field :title, value: @contact.title %>
      <%= f.hidden_field :body, value: @contact.body %>
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.submit "入力画面に戻る", class: "btn btn-lg btn-outline-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>