<% @posts.each do |post| %>
  <div class="col-md-3" style="float:left">
    <div class="card mb-4 shadow-sm">
      <div class="bd-placeholder-img card-img-top">
        <%= link_to post_path(post) do %>
          <%= image_tag post.image.variant(resize:'300x300') %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p><%= post.body %></p>
        <%= link_to "詳細", post_path(post), class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
<% end %>