
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-7">
      <div class="card mb-3">
        <% unless @post.status == "有効" %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= @post.status %>
            お問い合わせ:
            <%= @post.status_content %>
          </li>
        </ul>
        <% end %>
        <div class="card-img-top" style="height: 300px;">
        <% if @post.image.attached? %>
          <%= image_tag @post.image,  style: "object-fit: contain; width: 100%; height: 100%;" %>
        <% else %>
          <%= image_tag 'heder1.png', style: "object-fit: contain; width: 100%; height: 100%;" %>
        <% end %>
        </div>
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.body %></p>
        <p class="card-text"><small class="text-muted">
          <%= time_ago_in_words(@post.created_at) %>前
          <%= link_to @post.genre.title, genre_path(@post.genre) %>
          <% @post.tags.each do |tag| %>
          <%= link_to tag.title, tag_path(tag), class:"btn btn-outline-dark" %>
          <% end %>
          </small>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <% if @post.image.attached? %>
            <%= image_tag @post.image, style: "object-fit: contain; width: 100px; height: 100px;" %>
          <% else %>
            <%= image_tag 'no_image.jpg' %>
          <% end %>

          <%= link_to user_path(@user) do %>
            <%= @user.name %>
          <% end %>
          <% if @user == current_user %>
            <%= link_to '編集', edit_post_path(@post.id), class:"btn btn-outline-success" %>
            <%= link_to '削除', post_path(@post.id), method: :delete, class:"btn btn-outline-danger" %>
          <% end %>
        </li>
      </ul>
      </div>
    </div>

    <div class="col-5">
      <div class="card mb-3">
      <div class="card-body">
          <div class="favorite-btn_<%= @post.id %>"><%= render 'public/favorites/form', post: @post %></div>
          <div class="new-comment"><%= render 'public/comments/form', post: @post, comment: @comment %></div>
          <div class="comment"><%= render 'public/comments/index', post: @post %></div>
      </div>
      </div>
    </div>
  </div>
</div>

