<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
<h5><%= link_to e.user.name, user_path(e.user.id) %></h5>
<% end %>

<div class="chat">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <div class="chat-box">
        <div class="chat-face">
          <% if m.user.profile_image.attached? %>
            <%= image_tag m.user.profile_image.variant(resize:'100x100') %>
          <% else %>
            <%= image_tag 'no_image.jpg' %>
          <% end %>
        </div>
        <div id="chat-hukidashi"> <strong><%= m.content %></strong> <br>
          <%= time_ago_in_words(m.created_at) %>前<%= m.user.name %>さん
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div id="message">
    <%= form_with model: @message, local:true do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
</div>



