<div class="container mx-auto" style="width: 200px;">
  <div class="row">
    <h1><strong>お悩み</strong></h1>
  </div>
</div>
<div class="container mx-auto">
  <div class="row mx-auto px-auto">
    <div class="col-10 mx-auto shadow-sm rounded">
      <%= form_with model:@post, url: admin_post_path, local:true do |f| %>
      <div class="form-group">
        <label for="inputStatus">ステータス</label>
        <%= f.select :status, Post.statuses.keys, class:"form-control"  %>
      </div>

      <div class="form-group">
        <label for="inputStatusContent">お問い合わせ</label>
        <%= f.text_area :status_content, placeholder:"お問い合わせ内容を記入してください", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "更新", class:"btn btn-success" %>
      </div>
      <% end %>
      <table class="table">
        <tbody>
          <tr>
            <td><% if @post.image.attached? %>
                <%= image_tag @post.image.variant(resize:'300x300') %>
                <% else %>
                <%= image_tag 'no_image.jpg' %>
                <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>ユーザー名</th>
            <td><%= link_to user_path(@user) do %>
              <%= @user.name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>タイトル</th>
            <td><%= @post.title %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>地域</th>
            <td><%#= @post.genre.title %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>タグ</th>
            <% @post.tags.each do |tag| %>
            <td>
              <span class= 'badge badge-primary'><%= tag.title %></span>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>本文</th>
            <td><%= @post.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>