<table class="table table">
  <thead>
    <tr>
      <th scope="col">氏名</th>
      <th scope="col">写真</th>
      <th scope="col">タイトル</th>
      <th scope="col">ステータス</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @posts.each do |post| %>
  <tbody>
    <tr>
      <th><%= post.user.name %></th>
      <td>
        <% if post.image.attached? %>
          <%= image_tag post.image.variant(resize:'300x300') %>
        <% else %>
          <%= image_tag 'heder.png', size: '300x200'%>
        <% end %>
      </td>
      <td><%= post.title %></td>
      <td><%= post.status %></td>
      <td><%= link_to "詳細", admin_post_path(post.user) %></td>
    </tr>
  </tbody>
  <% end %>
</table>

