<div class="container">

  <%= form_with model:@admin, url: session_path(resource_name), class: "form-signin", local:true do |f| %>
  <i class="fab fa-airbnb fa-5x"></i>
    <div class="field mx-auto">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions p-2">
      <%= f.submit "Log in", class:"btn btn-success" %>
    </div>
  <% end %>

  
</div>
