<% if posts.exists? %>
<% @posts.each do |post| %>
<% unless post.status == "有効" %>
<div class="container mx-auto ">
  <div class="row mx-auto p-3">
    <div class="col-12 mx-auto shadow-sm rounded">
      <h1 class="alert alert-success"><strong>編集待ち</strong></h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">タイトル</th>
            <th scope="col">ジャンル</th>
            <th scope="col">ステータス</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><% if post.image.attached? %>
                <%= image_tag post.image.variant(resize:'100x100') %>
                <% else %>
                <%= image_tag 'logo.png', size: "200x100" %>
                <% end %>
            </td>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= post.genre.title %></td>
            <td><%= post.status %></td>
            <td><%= link_to '編集', edit_post_path(post.id), class:"btn btn-outline-success" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= paginate @posts %>
  </div>
</div>
<% end %>
<% end %>
<% end %>

