<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>マイページ編集</h1>
      <div class="error_explanation">
        <% if @user.errors.any? %>
        <div class="alert">
          <h1><%= @user.errors.count %>errors prohibited this obj from being saved:</h1>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
      <%= form_with model:@user, local:true do |f| %>
      <div class="form-group">
        <label for="inputProfileImage">画像</label>
        	<%= f.file_field :profile_image, class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="inputName">名前</label>
        <%= f.text_field :name, autofocus: true, placeholder:"名前", class:"form-control" %>
      </div>

      <div class="form-group">
        <label for="inputIntroduction">紹介文(140)</label>
        <%= f.text_area :description,size: "20x7", placeholder:"サイコー", class:"form-control" %>
      </div>
      <!---------------- user==学生---------------------->
      <% if @user.student_user.present? %>
        <%= f.fields_for :student_user do |student| %>
        <div class="form-group">
          <label for="inputSchoolName">学校名</label>
          <%= student.text_field:school_name, autocomplete: "off", class:"form-control" %>
        </div>
    
         <div class="form-group">
          <label for="inputMajor">学科名</label>
          <%= student.text_field :major, autocomplete: "off", class:"form-control" %>
        </div>
        <% end %>
        <!---------------- user==企業---------------------->
      <% else %>
        <%= f.fields_for :company_user do |company| %>
        <div class="form-group">
          <label for="inputCompanyUrl">企業URL</label>
          <%= company.text_field :company_url, autocomplete: "off", class:"form-control" %>
        </div>
        
        <div class="form-group">
          <label for="inputPhoneNumber">電話番号</label>
          <%= company.text_field :phone_number, autocomplete: "off", class:"form-control" %>
        </div>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= f.submit "更新", class:"btn btn-success" %>
      </div>
        <% end %>
        
    </div>
  </div>
</div>