<div class="container mx-auto" style="width: 650px;">
  <div class="row">
    <% if @user == current_user %>
    <h1><strong>マイページ</strong></h1>
    <% else %>
    <h1><strong><%= @user.name %>さんのマイページ</strong></h1>
    <% end %>
  </div>
</div>
<div class="container mx-auto">
  <div class="row mx-auto">
    <div class="col-10 mx-auto shadow-sm rounded">
      <table class="table">
        <tbody>
          <tr>
            <th class="">名前</th>
            <td>
              <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image.variant(resize:'300x300') %>
              <% else %>
              <%= image_tag 'no_image.jpg' %>
              <% end %>
            </td>
            <td><%= @user.name %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>紹介文</th>
            <td><%= @user.description %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>フォロー</th>
            <td><%= link_to user_followings_path(@user) do %>
              フォロー数: <%= @user.followings.count %>
              <% end %>
            </td>
            <td><%= link_to user_followers_path(@user) do %>
              フォロワー数: <%= @user.followers.count %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% if @user.student_user.present? %>
        <table class="table">
          <tbody>
            <tr>
              <th>学校名</th>
              <td><%= @user.student_user.school_name %></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <th>学科</th>
              <td><%= @user.student_user.major %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <table class="table">
          <tbody>
            <tr>
              <th>企業url</th>
              <td><%= @user.company_user.company_url %></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <th>電話番号</th>
              <td><%= @user.company_user.phone_number %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
         <% unless @user == current_user %>
        <table class="table">
          <tbody>
            <tr>
              <td><%= render 'public/relationships/follow-btn', user: @user %></td>
              <td><%= render 'public/rooms/dm-btn', user: @user, isRoom: @isRoom, roomID: @roomID, room: @room, entry: @entry %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
      <table class="table">
          <tbody>
            <tr>
              <td><%= link_to "編集", edit_user_path(@user), class:"btn btn-lg btn-outline-primary" %></td>
              <td><%= link_to "退会", unsubscribe_user_path(@user), class:"btn btn-lg btn-outline-danger" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<%= render 'public/users/edit_post', posts: @posts %>
<%= render 'public/users/post', posts: @posts %>
