<div class="container mx-auto" style="width: 200px;">
  <div class="row">
    <h1><strong>マイページ</strong></h1>
  </div>
</div>
<div class="container mx-auto">
  <div class="row mx-auto">
    <div class="col-10 mx-auto shadow-sm rounded">
      <table class="table">
        <tbody>
          <tr>
            <th class="">名前</th>
            <td><%= @user.name %></td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <th>紹介文</th>
            <td><%= @user.description %></td>
          </tr>
        </tbody>
      </table>
      <% if @user.student_user.present? %>
        <table class="table">
          <tbody>
            <tr>
              <th>学校名</th>
              <td><%= @user.student_user.school_name %></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <th>学科</th>
              <td><%= @user.student_user.major %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <table class="table">
          <tbody>
            <tr>
              <th>企業url</th>
              <td><%= @user.company_user.company_url %></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <tbody>
            <tr>
              <th>電話番号</th>
              <td><%= @user.company_user.phone_number %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <% if @user == current_user %>
      <table class="table">
          <tbody>
            <tr>
              <td><%= link_to "編集", edit_user_path(@user), class:"btn btn-lg btn-outline-primary" %></td>
              <td><%= link_to "退会", unsubscribe_user_path(@user), class:"btn btn-lg btn-outline-danger" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>