<% if user_signed_in? %>
<div class="heder pl-5">
  <h1>
    <%= link_to root_path do  %>
    <%= image_tag "logo1.png", style: "object-fit: cover; width: 100px; height: 75px;" %>
    <% end %>
  </h1>
  <div class="heder_menu pr-5">
    <nav>
      <ul>
        <li class="nav-item mt-2" style="color: #0D47A1;"><%= current_user.name %>さん</li>
        <li class="nav-item">
          <%= link_to user_path(current_user) do %>
          <i class="fas fa-user fa-2x faa-pulse animated-hover" style="color: #E3F2FD;"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_post_path do %>
          <i class="far fa-plus-square fa-2x faa-pulse animated-hover" style="color: #E3F2FD;"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path do %>
          <i class="fas fa-indent fa-2x faa-pulse animated-hover" style="color: #E3F2FD;"></i>
          <% end %>
          </li>
        <li class="nav-item"><%= render 'public/rooms/icon', class:"nav-link" %></li>
        <li class="nav-item">
          <%= link_to users_path do %>
          <i class="fas fa-users fa-2x faa-pulse animated-hover" style="color: #E3F2FD;"></i>
          <% end %>
          </li>
        <li class="nav-item"><%= render 'public/notifications/icon', class:"nav-link" %></li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x faa-pulse animated-hover" style="color: #E3F2FD;"></i>
          <% end %>
          </li>
      </ul>
    </nav>
  </div>
</div>
<% elsif admin_signed_in? %>
<div class="heder pl-5">
  <h1>
    <%= link_to root_path do  %>
    <%= image_tag "logo1.png", style: "object-fit: cover; width: 100px; height: 75px;" %>
    <% end %>
  </h1>
  <div class="heder_menu">
    <nav>
      <ul>
        <li class="nav-item"><i class="fas fa-user-shield"></i></li>
        <li class="nav-item"><%= link_to "会員一覧", admin_users_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "編集待ち一覧", wait_edit_admin_posts_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "ジャンル一覧", admin_genres_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "タグ一覧", admin_tags_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link" %></li>
      </ul>
    </nav>
  </div>
</div>
<% end %>