<!DOCTYPE html>
<html>
  <head>
    <title>だげほー</title>
    <%= favicon_link_tag('logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/93f4e77202.js" crossorigin="anonymous"></script>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/scss" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.scss"/>
    <link rel="stylesheet" type="text/scss" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.scss"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>
<body>
  <heder>
      <% if user_signed_in? %>
        <div class="heder pl-5">
          <h1>
            <%= link_to root_path do  %>
            <%= image_tag "heder.png", style: "object-fit: cover; width: 100px; height: 75px;" %>
            <% end %>
          </h1>
          <div class="heder_menu pr-5">
            <nav>
              <ul>
                <li class="nav-item"><%= current_user.name %>さん</li>
                <li class="nav-item">
                  <%= link_to user_path(current_user) do %>
                  <i class="fas fa-user fa-2x faa-pulse animated-hover"></i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_post_path do %>
                  <i class="far fa-plus-square fa-2x faa-pulse animated-hover"></i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to posts_path do %>
                  <i class="fas fa-indent fa-2x faa-pulse animated-hover"></i>
                  <% end %>
                  </li>
                <li class="nav-item"><%= render 'public/rooms/icon', class:"nav-link" %></li>
                <li class="nav-item">
                  <%= link_to users_path do %>
                  <i class="fas fa-users fa-2x faa-pulse animated-hover"></i>
                  <% end %>
                  </li>
                <li class="nav-item"><%= render 'public/notifications/icon', class:"nav-link" %></li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-2x faa-pulse animated-hover"></i>
                  <% end %>
                  </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <% elsif admin_signed_in? %>
      <div class="container">
        <div class="heder">
          <h1><%= link_to "だげほー", root_path, class:"nav-link" %></h1>
          <div class="heder_menu">
            <nav>
              <ul>
                <li class="nav-item">管理者様</li>
                <li class="nav-item"><%= link_to "会員一覧", admin_users_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "編集待ち一覧", wait_edit_admin_posts_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "ジャンル一覧", admin_genres_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "タグ一覧", admin_tags_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link" %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <% end %>
  </heder>
<%= yield %>

  <footer>
    <%= link_to "お問い合わせ", new_contact_path %>
  </footer>
</body>
</html>
